*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #12181B;
}
h1{
    color: aliceblue;
}
.clock-container{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls{
    margin: 1rem 3rem;
}
#clock{
    font-family: 'Orbitron', sans-serif;
    font-size: 5vw;
    color: aliceblue;
}
span{
    display: inline-block !important;
    color: aliceblue;
}


.button{
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: aliceblue;
    padding: 4px 8px;
    margin-left: 4px;
    cursor: pointer;
}

fieldset{
    width: 270px;
}

.alarm{
    width: 180px;
}

/*.form-group{
    align-items: center;
    align-items: center;
}*/

.alarm-box{
    width: 100%;
}

.alarm-input{
    display: flex;
    width: 100%;
    margin: 5px 0;
    justify-content: right;
    padding: 0 9px;
    /*align-items: center;*/

}

.input-alarm{
    justify-content: space-between;
    margin-left: 15px;
}

.wrapper{
    width: 292px;
    border: solid white 2px;
    padding: 1.5rem 1rem 1rem 1rem;
}

.dateTime{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.new-alarm{
    margin-left: 2rem;
    width: inherit;
}

.alarm-container{
    display: flex;
    justify-content: center;
}

